.CharacteristicTableItem {
  border-bottom: 1px solid #d9d9d9;

  &:nth-child(even) input {
    background: #F8F8F8;
    border-bottom: 1px solid #ddd;
  }

  &:last-child td.TitleSpeed input {
    width: 100%;
    border-radius: 0 0 0 20px;
  }

  &:last-child td.TitleEngine input {
    width: 100%;
    border-radius: 0 0 20px 0;
  }

  &:focus,
  &:hover,
  &:active {
    box-shadow: 0 0 1px 3px #9c27b0;
  }
}

.TitleSpeed {
  position: relative;
  cursor: pointer;

  & input {
    vertical-align: top;
    padding: 1rem;
    font-family: 'Rubik';
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.2rem;
    text-align: center;
    color: #9c27b0;
    border: none;
    outline: none;
  }
}

.TitleForce {
  position: relative;
  cursor: pointer;

  & input {
    width: 100%;
    vertical-align: top;
    padding: 1rem;
    font-family: 'Rubik';
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.2rem;
    text-align: center;
    color: #9c27b0;
    border: none;
    outline: none;
  }
}

.TitleEngine {
  position: relative;
  cursor: pointer;

  & input {
    vertical-align: top;
    padding: 1rem;
    font-family: 'Rubik';
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.2rem;
    text-align: center;
    color: #9c27b0;
    border: none;
    outline: none;
  }
}

.Error {
  position: absolute;
  top: 105%;
  padding-left: 10%;
  margin: 0;
  font-size: .6rem;
  color: #fd0000;
  z-index: 5;
}

.FieldError {

  & input {
    color: #fd0000;
    box-shadow: 0 0 1px 1.5px #fd0000;
  }

}