.App {
  max-width: 85rem;
  margin: auto;
  text-align: center;
}

.Title {
  margin-bottom: 0;
  font-family: 'Rubik';
  font-weight: 700;
  font-size: 42px;
  line-height: 2;
  color: #0296d5;
  text-transform: uppercase;
}

.Wrap {
  display: flex;
}