.App {
  max-width: 85vw;
  margin: auto;
  text-align: center;
}

.Title {
  margin-bottom: 3rem;
  font-family: 'Rubik';
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.2rem;
  color: #0296d5;
  text-transform: uppercase;
}

.Wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
}