.MainTable {
  width: 30%;
  margin-bottom: 20px;
  border: none;
  border-collapse: separate;
}

.Title {
  margin-bottom: 1rem;
  max-height: 100px;
  font-family: 'Rubik';
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.2rem;
  color: #2e7d32;
}

.HeadTitle {
  padding: 2rem 3rem;
  font-family: 'Rubik';
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  border: none;
  border-top: 1px solid #ddd;
  background: #EDEDED;
  color: #9c27b0;

  &:first-child {
    border-left: 1px solid #ddd;
    border-radius: 20px 0 0 0;
  }

  &:last-child {
    border-right: 1px solid #ddd;
    border-radius: 0 20px 0 0;
  }
}

.Loading {
  font-family: 'Rubik';
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #9c27b0;
}

.ErrorData {
  font-family: 'Rubik';
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #ff0000;
}